[src="./slides/mission/achievements/stack/stack-1.md"] {
	p {
		opacity: 1 !important;
		height: calc(100% - var(--h1-height) - 7rem);
		display: flex;
		justify-content: center;

	}
}

[src="./slides/mission/achievements/stack/stack-2.md"] {
	p {
		opacity: 1 !important;
		height: calc(100% - var(--h1-height) - 7rem);
		display: flex;
		justify-content: center;

	}
}

[src="./slides/mission/achievements/stack/stack-3.md"] {
	p {
		opacity: 1 !important;
		height: calc(100% - var(--h1-height) - 2rem);
		display: flex;
		justify-content: center;

	}
}

[src="./slides/mission/achievements/stack/stack-4.md"] {
	p {
		opacity: 1 !important;
		height: calc(100% - var(--h1-height) - 2rem);
		display: flex;
		justify-content: center;

	}
}