.slidev-toc {
	height: 100%;
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	align-items: center;

	ul {
		list-style-type: upper-roman;
		height: fit-content;
		margin: 0 auto;

		li {
			width: max-content;

			a {
				border-bottom-width: 0px;
				text-decoration: underline;
			}
		}
	}
}
