:root {
	--header-height: 4rem;
	--footer-height: 5rem;
	--h1-height: 4rem;
	--h2-height: auto;
}

* {
	margin: 0px;
	padding: 0px;
}

@counter-style list-style-type-emojis-right-arrow {
	system: cyclic;
	symbols: "\27A1";
	suffix: " ";
}

.width-100p-height-100p-margin-0-padding-0 {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.slidev-layout {
	height: calc(100% - 4rem - 5rem) !important;
	margin: 0px;
	padding: 0px;
	width: 100%;

	h1, h2, h3, h4, h5, h6 {
		margin: 0px;
		padding: 0px;
	}

	& > h1 {
		margin: 1rem;
	}

	& > h2 {
		margin: 0.5rem;
	}

	h3 {
		margin: 0.3rem;
	}

	ul {
		list-style-type: list-style-type-emojis-right-arrow;
	}

	p {
		margin-left: 1rem;
	}
}

.cartouche {
	text-align: center;
	font-size: medium;
	border: 1px solid black;
	box-shadow: 3px 3px 2px 1px black;
	margin: 1rem;
	padding: 0px;
}

.shadowed-bow {
	border: 1px solid black;
	box-shadow: 3px 3px 2px 1px black;
	margin: 0px;
	padding: 0px;
}

.h1-top-left-ul-centered {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: var(--h1-height) 1fr;

	ul {
		margin: 0 auto;
		margin-top: calc(var(--h1-height) * -1);
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		flex-direction: column;
		justify-content: center;
	}
}

.h1-top-left-h2-top-centered-ul-centered {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: var(--h1-height) var(--h2-height) 1fr;

	ul {
		margin: 0 auto;
		margin-top: calc(var(--h1-height) * -1);
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		flex-direction: column;
		justify-content: center;
	}
}

.h1-top-left-h2-cartouche-h3-centered-ul-centered {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: var(--h1-height) auto auto 1fr;

	h3 {
		text-align: center;
		margin-bottom: 2.5rem;
		font-size: 1.4rem;
		line-height: 3rem;
	}

	ul {
		margin: 0 auto;
		margin-top: calc(var(--h1-height) * -1);
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		flex-direction: column;
		justify-content: center;
	}
}

.h1-top-left-img-array-centered {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: var(--h1-height) 1fr;

	ul {
		margin: 0 auto;
		margin-top: calc(var(--h1-height) * -1);
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;

		img {
			height: 25rem;
		}
	}
}

.h1-top-left-ul-left-img-right {
	display: grid;

	grid-template-columns: auto 1fr;
	grid-template-rows: var(--h1-height) calc(100% - var(--header-height));

	grid-template-areas:
		"h1 h1"
		"ul p";

	h1 {
		grid-area: h1;
	}

	ul, p {
		margin: 0 auto;
	}

	ul {
		grid-area: ul;
		padding-left: 3rem;
		padding-right: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	p {
		grid-area: p;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;

		img {
			max-height: 100%;
			max-width: revert;
			padding: 2rem;
		}
	}
}

.rotate-arrow {
	transform: rotate(45deg);
}

@import "./image.scss";
@import "../slides/cover/slides-cover.scss";
@import "../slides/toc/slides-toc.scss";
@import "../slides/introduction/contexts/bashroom/slides-introduction-contexts-bashroom.scss";
@import "../slides/introduction/contexts/epitech/slides-introduction-contexts-epitech.scss";
@import "../slides/introduction/slides-introduction.scss";
@import "../slides/bashroom/company-presentation/slides-bashroom-company-presentation.scss";
@import "../slides/bashroom/organisation/slides-bashroom-organisation.scss";
@import "../slides/bashroom/tools/slides-bashroom-tools.scss";
@import "../slides/bashroom/team/slides-bashroom-team.scss";
@import "../slides/bashroom/interventions/slides-bashroom-interventions.scss";
@import "../slides/mission/yoptoruta/slides-mission-yoptoruta.scss";
@import "../slides/mission/slides-mission.scss";
@import "../slides/conclusion/slides-conclusion.scss";
@import "../slides/mission/dev-station/slides-mission-dev-station.scss";
@import "../slides/mission/dev-station/graph-1/slides-mission-dev-station-graph-1.scss";
@import "../slides/mission/dev-station/graph-2/slides-mission-dev-station-graph-2.scss";
@import "../slides/mission/dev-station/graph-3/slides-mission-dev-station-graph-3.scss";
@import "../slides/mission/achievements/slides-mission-achievements.scss";
@import "../slides/mission/achievements/mtls/mtls.scss";
@import "../slides/mission/achievements/istio/istio.scss";
